@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#tree path {
  fill: none;
  stroke: #c4c4c4;
}

#labels text {
  font-family: Poppins;
  font-size: 10px;
}

#barplot rect {
  stroke-width: .5;
  stroke: #9f9f9f;
}

:focus {
  outline: none;
}